executor {
    name = 'slurm'
}

process {
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    withName: prepVCF {
        memory = '1GB'
        cpus = 1
        time = '30m'
    }
    withName: cutVCF {
        memory = '1GB'
        cpus = 1
        time = '30m'
    }
    withName: phase_impute {
        memory = '128GB'
        cpus = 32
        time = '2h'
    }
    withName: LD {
        memory = '32GB'
        cpus = 1
        time = '2h'
    }
    withName: HaploVar {
        memory = '128GB'
        cpus = 1
        time = '10h'
    }
    withName: concat_haplotypes {
        memory = '8GB'
        cpus = 1
        time = '1h'
    }
}

singularity.enabled = true
